h1{
   color:black ;
   background-color: aqua;
   text-align: center;
}

.header{
    
   background-color:cadetblue;
   display: flex;
   justify-content:space-between;
   
   
}

.grid{
   display: flex;
   justify-content:space-evenly;
   flex-wrap: wrap;
}


.footer{
   display: flex;
   justify-content:flex-end;
}








